module-name: istio
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/istio-manager:v20240612-a76356ea
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/install-cni:1.22.1-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/proxyv2:1.22.1-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/pilot:1.22.1-distroless
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
