module-name: istio
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/istio/main/istio-manager:d8f46756f30202f2f5f99362984f9fbb41a2364b
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/install-cni:1.28.3-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/proxyv2:1.28.3-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/pilot:1.28.3-distroless
  - europe-docker.pkg.dev/kyma-project/restricted-prod/sap.com/istio-install-cni-fips:1.28.3
  - europe-docker.pkg.dev/kyma-project/restricted-prod/sap.com/istio-proxy-fips:1.28.3
  - europe-docker.pkg.dev/kyma-project/restricted-prod/sap.com/istio-pilot-fips:1.28.3
mend:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
