module-name: istio
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/istio/main/istio-manager:24b1f529e7ff1be0d40fcdab0fcc8816636f500d
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/install-cni:1.27.4-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/proxyv2:1.27.4-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/pilot:1.27.4-distroless
mend:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
