module-name: istio
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/istio/main/istio-manager:539a38dc8384c835a9f37c71bc14756b62a4fc43
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/install-cni:1.26.2-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/proxyv2:1.26.2-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/pilot:1.26.2-distroless
mend:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"