module-name: istio
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/istio/releases/istio-manager:1.13.0
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/install-cni:1.24.1-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/proxyv2:1.24.1-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/pilot:1.24.1-distroless
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
