module-name: istio
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/istio-manager:v20241025-75b2c078
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/install-cni:1.23.2-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/proxyv2:1.23.2-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/pilot:1.23.2-distroless
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
