module-name: istio
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/istio/main/istio-manager:ab19157f5bbab8805cec0ca37828bbad50cf381a
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/install-cni:1.25.1-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/proxyv2:1.25.1-distroless
  - europe-docker.pkg.dev/kyma-project/prod/external/istio/pilot:1.25.1-distroless
mend:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"