apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../default
patches:
  - path: remove-ztunnel.yaml
    target:
      kind: Deployment
      name: controller-manager
      namespace: system