# permissions for end users to edit istio.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: operator
  name: istio-editor-role
rules:
- apiGroups:
  - operator.kyma-project.io
  resources:
  - istios
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.kyma-project.io
  resources:
  - istios/status
  verbs:
  - get
