# permissions for end users to view istio.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: istio-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: istio
  name: istio-viewer-role
rules:
- apiGroups:
  - operator.kyma-project.io
  resources:
  - istios
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operator.kyma-project.io
  resources:
  - istios/status
  verbs:
  - get
