name: PR E2E

permissions:
  contents: read
  
on:
  workflow_call:
    inputs:
      operator_version:
        description: 'Operator version'
        required: true
        type: string

jobs:
  istio-e2e-test-k3d:
    name: Istio E2E test - k3d
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "e2e-test", "configuration-integration-test", "mesh-communication-integration-test", "installation-integration-test", "observability-integration-test"]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/integration-test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test_make_target }}
          operator-image-name: "istio-manager:PR-${{github.event.number}}"
          operator-version: "PR-${{github.event.number}}"
          servers-memory: "16"
          agents: 2

  istio-e2e-test-evaluation-k3d:
    name: Istio E2E test (evaluation) - k3d
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/integration-test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: "evaluation-integration-test"
          operator-image-name: "istio-manager:PR-${{github.event.number}}"
          operator-version: "PR-${{github.event.number}}"
          servers-memory: "4"
          agents: 0
