# Jobs defined in this file are responsible for things that do not require container image
# but still relevant to the codebase such as unit tests, linting etc

name: Pull Request unit & lint
on:
  workflow_call:

jobs:
  changed-files:
    outputs:
      any_modified: ${{ steps.changed-files.outputs.any_modified }}
    name: Check whether unit test & lint should run based on the changed files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tj-actions/changed-files@e9772d140489982e0e3704fea5ee93d536f1e275
        id: changed-files
        with:
          files_ignore: |
            docs/**
            **/*.md
            tests/performance/**
            OWNERS
            CODEOWNERS
            sec-scanners-config.yaml
            .reuse/**
            external-images.yaml

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [ changed-files ]
    if: ${{ needs.changed-files.outputs.any_modified }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: false # We need to disable caching here, since this is handled by the golangci-lint action
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4696ba8babb6127d732c3c6dde519db15edab9ea #v6.5.1
        with:
          version: 'latest'
          args: --timeout=10m --verbose

  run-unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    needs: [ changed-files ]
    if: ${{ needs.changed-files.outputs.any_modified }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PULL_PULL_SHA=${{ github.event.pull_request.head.sha}} \
          PULL_BASE_SHA=${{ github.event.pull_request.base.sha}} \
          PULL_NUMBER=${{ github.event.number }} \
          ./tests/integration/scripts/code-coverage-guard.sh

  run-unit-tests-experimental:
    name: Run unit tests with experimental build tag
    if: ${{ needs.changed-files.outputs.any_modified }}
    needs: [ changed-files ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make test-experimental-tag
