# This workflow is responsible for all kinds of integration tests run on pull request.
# Those tests depend on a container image so in the first job we wait for the image build to succeed.

name: PR E2E

on:
  workflow_call:

jobs:
  changed-files:
    outputs:
      any_modified: ${{ steps.changed-files.outputs.any_modified }}
    name: Check whether integration tests should run based on the changed files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tj-actions/changed-files@e9772d140489982e0e3704fea5ee93d536f1e275
        id: changed-files
        with:
          files_ignore: |
            docs/**
            **/*.md
            tests/performance/**
            OWNERS
            CODEOWNERS
            sec-scanners-config.yaml
            .reuse/**
            external-images.yaml

  istio-e2e-test-k3d:
    name: Istio E2E test - k3d
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "configuration-integration-test", "mesh-communication-integration-test", "installation-integration-test", "observability-integration-test"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/integration-test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test_make_target }}
          operator-image-name: "istio-manager:PR-${{github.event.number}}"
          servers-memory: "16"
          agents: 2

  istio-e2e-test-evaluation-k3d:
    name: Istio E2E test evaluation - k3d
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/integration-test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: "evaluation-integration-test"
          operator-image-name: "istio-manager:PR-${{github.event.number}}"
          servers-memory: "4"
          agents: 0
