name: Workflow validation

permissions:
  contents: read
  
on:
  workflow_call:

jobs:
  verify-actions:
    name: Ensure SHA pinned actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: zgosalvez/github-actions-ensure-sha-pinned-actions@9e9574ef04ea69da568d6249bd69539ccc704e74 # 4.0.0
        with:
          # We only want to allow official Github Actions
          allowlist: |
            actions/checkout
            actions/setup-go
            actions/upload-artifact
            actions/download-artifact
            actions/github-script
            kyma-project/test-infra
