name: lint
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
      - 'tests/performance/**'
      - 'OWNERS'
      - 'CODEOWNERS'
      - 'sec-scanners-config.yaml'
    branches:
      - main
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version: '1.20'
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@639cd343e1d3b897ff35927a75193d57cfcba299 #v3.6.0
        with:
          version: 'latest'
          args: --timeout=10m --verbose