# This workflow is responsible for all kinds of performance tests

name: main performance tests

on:
  schedule:
    - cron: '0 5 * * *' # Run every day at 05:00 AM
jobs:
  istio-performance-test:
    name: Istio performance test
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: ./tests/integration/scripts/gardener-kubeconfig.sh
        shell: bash
        env:
          GARDENER_TOKEN: ${{ secrets.GARDENER_TOKEN }}
      - uses: actions/setup-go@v4
        with:
          go-version: "1.21"
      - run: make IMG="europe-docker.pkg.dev/kyma-project/prod/istio-manager:${{github.sha}}" gardener-perf-test
        shell: bash
        env:
          GARDENER_KUBECONFIG: "/home/runner/work/istio/istio/gardener_kubeconfig.yaml"
          GARDENER_PROJECT_NAME: "goatz"
          GARDENER_PROVIDER_SECRET_NAME: "goat"
          GARDENER_PROVIDER: "gcp"
          GARDENER_REGION: "europe-west3"
          GARDENER_ZONES: "europe-west3-c,europe-west3-b,europe-west3-a"
          GARDENER_CLUSTER_VERSION: "1.27"
          GARDENER_GARDENLINUX_VERSION: "1312.3.0"
          MACHINE_TYPE: "n2-standard-4"
          DISK_SIZE: 50
          DISK_TYPE: "pd-standard"
          SCALER_MAX: 20
          SCALER_MIN: 3
      - uses: actions/upload-artifact@v3
        if: always()
        name: Export no sidecar summary
        with:
          name: no-sidecar
          path: tests/performance/summary-no-sidecar.html
      - uses: actions/upload-artifact@v3
        if: always()
        name: Export sidecar summary
        with:
          name: sidecar
          path: tests/performance/summary-sidecar.html

  slack_failed_notification:
    name: Slack Notification
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs: [istio-performance-test]
    steps:
      - uses: actions/checkout@v4
      - name: Notify
        uses: ./.github/actions/slack-notification-failed-workflow
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
