name: Post Main and Release Workflow

permissions:
  id-token: write # This is required by image-builder
  contents: read # This is required by image-builder

on:
  push:
    branches:
      - main
      - 'release-**'
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "tests/performance/**"
      - "OWNERS"
      - "CODEOWNERS"
      - "sec-scanners-config.yaml"
      - "external-images.yaml"
      - ".reuse/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  IMAGE_NAME: "europe-docker.pkg.dev/kyma-project/prod/istio/main/istio-manager"

jobs:
  build-image:
    name: Build manager image
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: istio/main/istio-manager
      dockerfile: Dockerfile
      context: .
      build-args: |
        VERSION=${{ github.sha }}
      tags: "${{ github.sha }}"

  build-image-experimental:
    name: Build manager image - experimental
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: istio/main/istio-manager
      dockerfile: Dockerfile
      context: .
      build-args: |
        VERSION=${{ github.sha }}-experimental
        GO_BUILD_TAGS=experimental
      tags: "${{ github.sha }}-experimental"

  get-image:
    name: Get manager image
    runs-on: ubuntu-latest
    needs: [ build-image, build-image-experimental ]
    outputs:
      image: "${{ steps.get-image.outputs.image }}"
      operator_version: "${{ steps.get-image.outputs.operator_version }}"
    steps:
      - id: get-image
        name: Get image for tests
        shell: bash
        env:
          COMMIT_ID: ${{ github.sha }}
        run: |
          image="${IMAGE_NAME}:${COMMIT_ID}"
          operator_version="${COMMIT_ID}"
          echo "image=${image}"
          echo "image=${image}" >> $GITHUB_OUTPUT
          echo "operator_version=${operator_version}"
          echo "operator_version=${operator_version}" >> $GITHUB_OUTPUT
      - id: check-image
        name: Check whether image exists
        shell: bash
        run: docker pull "${{ steps.get-image.outputs.image }}"

  unit-tests:
    name: Unit, integration tests & lint
    needs: [ get-image ]
    uses: ./.github/workflows/call-unit-lint.yaml
    secrets: inherit

  istio-upgrade-test-k3d:
    name: Istio upgrade integration test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_BRANCH: ${{ github.ref_name }}
        with:
          test_make_target: "istio-upgrade-integration-test"
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2

  istio-upgrade-test-aws:
    name: Istio upgrade integration test AWS
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/e2e-test-gardener
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_BRANCH: ${{ github.ref_name }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: aws
          test_make_target: "istio-upgrade-integration-test"
          operator_version: ${{ needs.get-image.outputs.operator_version }}

  istio-e2e-test-k3d:
    name: Istio E2E test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "configuration-integration-test", "mesh-communication-integration-test", "installation-integration-test", "observability-integration-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test_make_target }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2

  istio-e2e-test-gcp:
    name: Istio E2E test GCP
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target:
          - "configuration-integration-test"
          - "mesh-communication-integration-test"
          - "installation-integration-test"
          - "observability-integration-test"
          - "gcp-integration-test"
          - "xff-header-e2e-test"
          - "trust-domain-e2e-test"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-gardener
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: gcp
          test_make_target: ${{ matrix.test_make_target }}
          operator_version: ${{ needs.get-image.outputs.operator_version }}

  istio-e2e-test-aws:
    name: Istio E2E test AWS
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target:
        - "configuration-integration-test"
        - "mesh-communication-integration-test"
        - "installation-integration-test"
        - "observability-integration-test"
        - "aws-integration-test"
        - "xff-header-e2e-test"
        - "trust-domain-e2e-test"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-gardener
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: aws
          test_make_target: ${{ matrix.test_make_target }}
          operator_version: ${{ needs.get-image.outputs.operator_version }}

  new-istio-e2e-test-k3d:
    name: New Istio E2E test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "installation-e2e-test", "configuration-e2e-test", "mesh-communication-e2e-test", "observability-e2e-test", "ext-auth-e2e-test", "egress-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          servers-memory: "16"
          agents: 2

  new-istio-e2e-test-evaluation-k3d:
    name: New Istio E2E test (evaluation) K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "evaluation-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          servers-memory: "4"
          agents: 0

  new-istio-e2e-test-experimental-k3d:
    name: New Istio E2E test (experimental) K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "ambient-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}-experimental
          operator-version: ${{ needs.get-image.outputs.operator_version }}-experimental
          servers-memory: "16"
          agents: 2

  new-istio-upgrade-test-k3d:
    name: New Istio upgrade test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_BRANCH: ${{ github.ref_name }}
        with:
          test_make_target: "upgrade-test"
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2

  slack_failed_notification:
    name: Slack Notification
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs: [ istio-upgrade-test-aws, istio-upgrade-test-k3d, istio-e2e-test-k3d, istio-e2e-test-gcp, istio-e2e-test-aws, new-istio-e2e-test-k3d, new-istio-e2e-test-evaluation-k3d, new-istio-e2e-test-experimental-k3d, new-istio-upgrade-test-k3d ]
    steps:
      - uses: actions/checkout@v6
      - name: Notify
        uses: ./.github/actions/slack-notification-failed-workflow
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
