name: Pull Request

permissions:
  contents: read

on:
  pull_request:
    types: [ synchronize, opened, reopened, ready_for_review ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
  
env:
  GITLEAKS_VERSION: 8.21.0
  IMAGE_NAME: "istio-manager"

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Fetch gitleaks ${{ env.GITLEAKS_VERSION }}
        run: curl -Lso gitleaks.tar.gz https://github.com/gitleaks/gitleaks/releases/download/v${{ env.GITLEAKS_VERSION }}/gitleaks_${{ env.GITLEAKS_VERSION }}_linux_x64.tar.gz && tar -xvzf ./gitleaks.tar.gz
      - name: Run gitleaks
        # Scan commits between base and head of the pull request
        run: ./gitleaks detect --log-opts=${PULL_BASE_SHA}...${PULL_HEAD_SHA} --verbose --redact
        env:
          PULL_BASE_SHA: ${{ github.event.pull_request.base.sha }}
          PULL_HEAD_SHA: ${{ github.event.pull_request.head.sha }}

  build-image:
    name: Build manager image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/build-manager-image
        with:
          operator-image-name: "istio-manager:PR-${{github.event.number}}"
          operator-version: "PR-${{github.event.number}}"

  get-image:
    name: Get manager image
    runs-on: ubuntu-latest
    needs: [ build-image ]
    outputs:
      image: "${{ steps.get-image.outputs.image }}"
      operator_version: "${{ steps.get-image.outputs.operator_version }}"
    steps:
      - id: get-image
        name: Get image for tests
        shell: bash
        env:
          PR_NUMBER: ${{github.event.number}}
        run: |
          image="${IMAGE_NAME}:PR-${PR_NUMBER}"
          operator_version="PR-${PR_NUMBER}"
          echo "image=${image}"
          echo "image=${image}" >> $GITHUB_OUTPUT
          echo "operator_version=${operator_version}"
          echo "operator_version=${operator_version}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v6
      - uses: ./.github/actions/load-manager-image
      - id: check-image
        name: Check whether image exists
        shell: bash
        env:
          LOCAL_IMAGE: ${{ steps.get-image.outputs.image }}
        run: |
          image_id=$(docker images -q "${LOCAL_IMAGE}")
          if [ -z "${image_id}" ]; then
            echo "Image does not exist"
            exit 1
          fi

  unit-tests:
    name: Unit, integration tests & lint
    needs: [ get-image ]
    uses: ./.github/workflows/call-unit-lint.yaml
    secrets: inherit

  istio-e2e-test-k3d:
    name: Istio E2E test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "configuration-integration-test", "mesh-communication-integration-test", "installation-integration-test", "observability-integration-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test_make_target }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2

  istio-e2e-test-evaluation-k3d:
    name: Istio E2E test (evaluation) - k3d
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: "evaluation-integration-test"
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "4"
          agents: 0

  istio-upgrade-test-k3d:
    name: Istio upgrade integration test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_BRANCH: ${{ github.ref_name }}
        with:
          test_make_target: "istio-upgrade-integration-test"
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2

  new-istio-e2e-test-k3d:
    name: New Istio E2E test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "installation-e2e-test", "configuration-e2e-test", "mesh-communication-e2e-test", "observability-e2e-test", "ext-auth-e2e-test", "egress-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-test-k3d
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          servers-memory: "16"
          agents: 2
          reports-path: 'tests.xml'

  new-istio-e2e-test-evaluation-k3d:
    name: New Istio E2E test (evaluation) K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "evaluation-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-test-k3d
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          servers-memory: "4"
          agents: 0
          reports-path: 'tests.xml'

  new-istio-upgrade-test-k3d:
    name: New Istio upgrade test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_BRANCH: ${{ github.ref_name }}
        with:
          test_make_target: "upgrade-test"
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2
          reports-path: 'tests.xml'

  verify-pins:
    name: Dispatch verify-commit-pins
    uses: ./.github/workflows/call-verify-commit-pins.yaml
    secrets: inherit

  pull-request-status:
    needs:
      - build-image
      - unit-tests
      - istio-e2e-test-k3d
      - istio-e2e-test-evaluation-k3d
      - istio-upgrade-test-k3d
      - new-istio-e2e-test-k3d
      - new-istio-e2e-test-evaluation-k3d
      - new-istio-upgrade-test-k3d
      - verify-pins
    runs-on: ubuntu-latest
    if: always()
    steps:
      - if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1