name: Release Istio - Step 2

permissions:
  id-token: write # This is required by image-builder
  contents: write # Read is required by image-builder, write is required to push artifact

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to be released (major.minor.patch)"
        default: ""
        required: true
      skip_all_checks:
        description: "Skip all sanity checks"
        type: boolean
        required: false
        default: false
      skip_img_check:
        description: "Skip image existence check (allows to overwrite image)"
        type: boolean
        required: false
        default: false

env:
  IMAGE_NAME: "europe-docker.pkg.dev/kyma-project/prod/istio/releases/istio-manager"

jobs:
  check-prerequisites:
    name: Check prerequisites
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Validate version format
        id: validate-version-format
        if: ${{ inputs.skip_all_checks == false }}
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          if [[ ! "${CURRENT_RELEASE}" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Version ${CURRENT_RELEASE} does not have proper format!";
            exit 1
          fi

      - name: Ensure that release is done from the proper branch
        id: check-branch-name
        if: ${{ inputs.skip_all_checks == false }}
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
          BRANCH_NAME: ${{ github.ref_name }}
        run: |
          major=$(echo "${CURRENT_RELEASE}" | cut -d. -f1)
          minor=$(echo "${CURRENT_RELEASE}" | cut -d. -f2)
          if [ ! "${BRANCH_NAME}" == "release-${major}.${minor}" ]; then
            echo "Branch ${BRANCH_NAME} is not proper for the release ${CURRENT_RELEASE}"
            exit 2
          fi

      - name: Check whether tag already exists before the release
        id: check-whether-tag-exists-before-release
        if: ${{ inputs.skip_all_checks == false }}
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          if git ls-remote --quiet --exit-code origin "refs/tags/${CURRENT_RELEASE}" >/dev/null; then
            echo "Tag already exists, which is unexpected before the release"
            exit 3
          fi

      - name: Check whether image already exists before the release
        id: check-whether-image-exists-before-release
        if: ${{ inputs.skip_all_checks == false && inputs.skip_img_check == false }}
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          image="${IMAGE_NAME}:${CURRENT_RELEASE}"
          if docker pull "${image}" >/dev/null 2>&1; then
            echo "Image already exists, which is unexpected before the release"
            exit 4
          fi

      - name: Check whether sec-scanners-config file contains the image that is being released
        id: check-sec-scanners-config
        if: ${{ inputs.skip_all_checks == false }}
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          image="${IMAGE_NAME}:${CURRENT_RELEASE}"
          if ! grep -q "${image}" sec-scanners-config.yaml; then
            echo "sec-scanners-config.yaml file doesn't contain the image ${image} that is being released"
            exit 5
          fi

      - name: Check whether release notes exist
        id: check-release-notes
        if: ${{ inputs.skip_all_checks == false }}
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          rel_notes_file="docs/release-notes/${CURRENT_RELEASE}.md"
          if [ ! -f "${rel_notes_file}" ]; then
            echo "File with release notes ${rel_notes_file} does not exist"
            exit 6
          fi

  build-image:
    name: Build manager image
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    needs: [ check-prerequisites ]
    with:
      name: istio/releases/istio-manager
      dockerfile: Dockerfile
      context: .
      build-args: |
        VERSION="${{ inputs.version }}"
      tags: "${{ inputs.version }}"

  build-image-experimental:
    name: Build manager image - experimental
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    needs: [ check-prerequisites ]
    with:
      name: istio/releases/istio-manager
      dockerfile: Dockerfile
      context: .
      build-args: |
        VERSION="${{ inputs.version }}-experimental"
        GO_BUILD_TAGS=experimental
      tags: "${{ inputs.version }}-experimental"

  get-image:
    name: Get manager image
    runs-on: ubuntu-latest
    needs: [ build-image, build-image-experimental, check-prerequisites ]
    outputs:
      image: "${{ steps.get-image.outputs.image }}"
      operator_version: "${{ steps.get-image.outputs.operator_version }}"
    steps:
      - id: get-image
        name: Get image for tests
        shell: bash
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          image="${IMAGE_NAME}:${CURRENT_RELEASE}"
          operator_version="${CURRENT_RELEASE}"
          echo "image=${image}"
          echo "image=${image}" >> $GITHUB_OUTPUT
          echo "operator_version=${operator_version}"
          echo "operator_version=${operator_version}" >> $GITHUB_OUTPUT
      - id: check-image
        name: Check whether image exists
        shell: bash
        run: docker pull "${{ steps.get-image.outputs.image }}"

  unit-tests:
    name: Unit, integration tests & lint
    needs: [ get-image ]
    uses: ./.github/workflows/call-unit-lint.yaml
    secrets: inherit

  istio-upgrade-test-k3d:
    name: Istio upgrade integration test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_BRANCH: ${{ github.ref_name }}
        with:
          test_make_target: "istio-upgrade-integration-test"
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2

  istio-upgrade-test-aws:
    name: Istio upgrade integration test AWS
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/e2e-test-gardener
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_BRANCH: ${{ github.ref_name }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: aws
          test_make_target: "istio-upgrade-integration-test"
          operator_version: ${{ needs.get-image.outputs.operator_version }}

  istio-e2e-test-k3d:
    name: Istio E2E test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "configuration-integration-test", "mesh-communication-integration-test", "installation-integration-test", "observability-integration-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test_make_target }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2

  istio-e2e-test-gcp:
    name: Istio E2E test GCP
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "configuration-integration-test", "mesh-communication-integration-test", "installation-integration-test", "observability-integration-test", "gcp-integration-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-gardener
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: gcp
          test_make_target: ${{ matrix.test_make_target }}
          operator_version: ${{ needs.get-image.outputs.operator_version }}

  istio-e2e-test-aws:
    name: Istio E2E test AWS
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "configuration-integration-test", "mesh-communication-integration-test", "installation-integration-test", "observability-integration-test", "aws-integration-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-gardener
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: aws
          test_make_target: ${{ matrix.test_make_target }}
          operator_version: ${{ needs.get-image.outputs.operator_version }}

  new-istio-e2e-test-k3d:
    name: New Istio E2E test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "installation-e2e-test", "configuration-e2e-test", "mesh-communication-e2e-test", "observability-e2e-test", "ext-auth-e2e-test", "egress-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          servers-memory: "16"
          agents: 2

  new-istio-e2e-test-evaluation-k3d:
    name: New Istio E2E test (evaluation) K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "evaluation-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          servers-memory: "4"
          agents: 0

  new-istio-upgrade-test-k3d:
    name: New Istio upgrade test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_BRANCH: ${{ github.ref_name }}
        with:
          test_make_target: "upgrade-test"
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2

  create-draft-release:
    name: Create draft release
    runs-on: ubuntu-latest
    needs: [ check-prerequisites, build-image, build-image-experimental, unit-tests, istio-upgrade-test-aws, istio-upgrade-test-k3d, istio-e2e-test-k3d, istio-e2e-test-gcp, istio-e2e-test-aws, new-istio-e2e-test-k3d, new-istio-e2e-test-evaluation-k3d, new-istio-upgrade-test-k3d ]
    outputs:
      release_id: ${{ steps.create-draft-release.outputs.release_id }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Create changelog
        id: create-changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          CURRENT_RELEASE: ${{ inputs.version }}
        run: ./scripts/create_changelog.sh "${CURRENT_RELEASE}" "CHANGELOG.md"

      - name: Create draft release
        id: create-draft-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          release_notes_file="docs/release-notes/${CURRENT_RELEASE}.md"
          changelog_file="CHANGELOG.md"
          ./scripts/create_draft_release.sh "${CURRENT_RELEASE}" "${release_notes_file}" "${changelog_file}" "release_id.txt"
          release_id=$(cat "release_id.txt")
          echo "release_id=${release_id}" >> $GITHUB_OUTPUT

      - name: Create lightweight tag
        id: create-tag
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          git tag "${CURRENT_RELEASE}"
          git push origin "${CURRENT_RELEASE}"
          git tag "${CURRENT_RELEASE}-experimental"
          git push origin "${CURRENT_RELEASE}-experimental"

  publish-release:
    name: Publish release
    needs: [create-draft-release, check-prerequisites]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Publish release assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          CURRENT_RELEASE: ${{ inputs.version }}
          RELEASE_ID: ${{ needs.create-draft-release.outputs.release_id }}
        run: ./scripts/publish_assets.sh "${IMAGE_NAME}" "${CURRENT_RELEASE}" "${RELEASE_ID}"

      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          RELEASE_ID: ${{ needs.create-draft-release.outputs.release_id }}
        run: ./scripts/publish_release.sh "${RELEASE_ID}"

  upload-release-report:
    needs: [ check-prerequisites, publish-release ]
    uses: kyma-project/compliancy/.github/workflows/upload-release-report.yml@main
    with:
      release_version: ${{ inputs.version }}
    secrets:
      RELEASE_LOG_UPLOADER_SA: ${{ secrets.RELEASE_LOG_UPLOADER_SA }}

  notify:
    name: Notify
    runs-on: ubuntu-latest
    needs: [ check-prerequisites, publish-release, upload-release-report ]
    steps:
      - name: Notify
        uses: slackapi/slack-github-action@b0fa283ad8fea605de13dc3f449259339835fc52 # v2.1.0
        with:
          webhook: ${{ secrets.SLACK_RELEASE_WEBHOOK }}
          webhook-type: webhook-trigger
          payload-templated: true
          payload: |
            repository: ${{ github.repository }},
            release: "${{ inputs.version }}"

  adjust-dependabot:
    name: Adjust dependabot
    runs-on: ubuntu-latest
    needs: [check-prerequisites, publish-release]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Checkout repository main branch
        uses: actions/checkout@v6
        with:
          ref: main
          path: main

      - name: Update Dependabot
        env:
          CURRENT_RELEASE: "${{ inputs.version }}"
        run: |
          ./scripts/update_release_in_dependabot.sh "${CURRENT_RELEASE}" "main/.github/dependabot.yml"

      - name: Commit updated dependabot config
        env:
          GH_TOKEN: ${{ secrets.GOAT_BOT_REPO_ACCESS }}
          USERNAME: ${{ vars.ACTIONS_BOT_NAME }}
          EMAIL: ${{ vars.ACTIONS_BOT_EMAIL }}
          BRANCH_NAME: ${{ github.ref_name }}
        working-directory: main
        run: |
          git config user.name "${USERNAME}"
          git config user.email "${EMAIL}"
          git add .
          if git diff-index --quiet HEAD; then
            echo "No changes detected, skipping commit"
          else
            echo "Dependabot config updated, creating commit"
            git checkout -b "dependabot-config/${BRANCH_NAME}"
          git commit -m "update dependabot.yml" -m "Generated by GitHub Actions"
            git push -f -u origin "dependabot-config/${BRANCH_NAME}"
            if gh pr view "dependabot-config/${BRANCH_NAME}" --json number; then
              echo "PR already exists, skipping creation"
            else
              echo "Creating PR"
              gh pr create --base main --head "dependabot-config/${BRANCH_NAME}" --fill
            fi
          fi
