# This workflow is responsible for performance, UI and compatibility tests

name: Schedule Daily

permissions:
  contents: read
  
on:
  schedule:
    - cron: '0 4 * * *' # Run every day at 5:00 CET (4:00 UTC)
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  IMAGE_NAME: "europe-docker.pkg.dev/kyma-project/prod/istio/main/istio-manager"

jobs:
  get-image:
    name: Get manager image
    runs-on: ubuntu-latest
    outputs:
      image: "${{ steps.get-image.outputs.image }}"
      operator_version: "${{ steps.get-image.outputs.operator_version }}"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - id: get-image
        name: Get image for tests
        shell: bash
        run: |
          commit_id=$("./hack/ci/get-latest-sha.sh" "${IMAGE_NAME}")
          image="${IMAGE_NAME}:${commit_id}"
          operator_version="${commit_id}"
          echo "image=${image}"
          echo "image=${image}" >> $GITHUB_OUTPUT
          echo "operator_version=${operator_version}"
          echo "operator_version=${operator_version}" >> $GITHUB_OUTPUT
      - id: check-image
        name: Check whether image exists
        shell: bash
        run: docker pull "${{ steps.get-image.outputs.image }}"

  #############################################
  # Performance tests
  # Run on: AWS
  #############################################

  istio-performance-test:
    name: Istio performance test
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/perf-test-gardener
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: aws

  #############################################
  # UI tests
  # Run on: K3D
  #############################################

  run-ui-tests-periodic:
    name: Run UI tests
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Run tests
        run: |
          sudo echo "127.0.0.1 local.kyma.dev" | sudo tee -a /etc/hosts
          wget -q -O - https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | sudo bash
          docker pull  ${{ needs.get-image.outputs.image }}
          IMG="${{ needs.get-image.outputs.image }}" ./tests/ui/scripts/k3d-ci-kyma-dashboard-integration.sh stage
      - uses: actions/upload-artifact@v6
        if: always()
        name: Export Cypress output
        with:
          name: cypress
          path: tests/ui/cypress/


  #############################################
  # Compatibility tests
  # Run on: AWS, K3D
  #############################################

  k8s-compatibility-check-k3d:
    name: Kubernetes version compatibility test - K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "configuration-integration-test", "mesh-communication-integration-test", "installation-integration-test", "observability-integration-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/k8s-compatibility-test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          operator_image_name: ${{ needs.get-image.outputs.image }}
          operator_version: ${{ needs.get-image.outputs.operator_version }}
          test_make_target: ${{ matrix.test_make_target }}

  k8s-compatibility-check-aws:
    name: Kubernetes version compatibility test - AWS
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "configuration-integration-test", "mesh-communication-integration-test", "installation-integration-test", "observability-integration-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/k8s-compatibility-test-aws
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          operator_version: ${{ needs.get-image.outputs.operator_version }}
          test_make_target: ${{ matrix.test_make_target }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: aws

  new-istio-e2e-test-k3d:
    name: New Istio E2E test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "installation-e2e-test", "configuration-e2e-test", "mesh-communication-e2e-test", "observability-e2e-test", "ext-auth-e2e-test", "egress-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          servers-memory: "16"
          agents: 2

  new-istio-e2e-test-evaluation-k3d:
    name: New Istio E2E test (evaluation) K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "evaluation-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          servers-memory: "4"
          agents: 0

  new-istio-e2e-test-experimental-k3d:
    name: New Istio E2E test (experimental) K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test-make-target: [ "ambient-e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          test_make_target: ${{ matrix.test-make-target }}
          operator-image-name: ${{ needs.get-image.outputs.image }}-experimental
          operator-version: ${{ needs.get-image.outputs.operator_version }}-experimental
          servers-memory: "16"
          agents: 2

  new-istio-upgrade-test-k3d:
    name: New Istio upgrade test K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_BRANCH: ${{ github.ref_name }}
        with:
          test_make_target: "upgrade-test"
          operator-version: ${{ needs.get-image.outputs.operator_version }}
          operator-image-name: ${{ needs.get-image.outputs.image }}
          servers-memory: "16"
          agents: 2

  new-istio-e2e-test-aws:
    name: New Istio E2E test AWS
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target:
          - "xff-header-e2e-test"
          - "trust-domain-e2e-test"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-gardener
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: aws
          test_make_target: ${{ matrix.test_make_target }}
          operator_version: ${{ needs.get-image.outputs.operator_version }}

  new-istio-e2e-test-gcp:
    name: New Istio E2E test GCP
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target:
          - "xff-header-e2e-test"
          - "trust-domain-e2e-test"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test-gardener
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          gardener_secret: ${{ secrets.GARDENER_TOKEN }}
          gardener_project_name: ${{ vars.GARDENER_PROJECT_NAME }}
          gardener_provider: gcp
          test_make_target: ${{ matrix.test_make_target }}
          operator_version: ${{ needs.get-image.outputs.operator_version }}

  slack_failed_notification:
    name: Slack Notification
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs:
      - istio-performance-test
      - run-ui-tests-periodic
      - k8s-compatibility-check-k3d
      - k8s-compatibility-check-aws
      - new-istio-e2e-test-k3d
      - new-istio-e2e-test-evaluation-k3d
      - new-istio-e2e-test-experimental-k3d
      - new-istio-upgrade-test-k3d
      - new-istio-e2e-test-gcp
      - new-istio-e2e-test-aws
    steps:
      - uses: actions/checkout@v6
      - name: Notify
        uses: ./.github/actions/slack-notification-failed-workflow
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
