name: Workflow validation

on:
  pull_request:
    types: [ synchronize, opened, reopened, ready_for_review ]
    paths:
      - '.github/workflows/**'
    branches:
      - main
permissions:
  contents: read

jobs:
  verify-actions:
    name: Ensure SHA pinned actions
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v3
      - uses: zgosalvez/github-actions-ensure-sha-pinned-actions@f32435541e24cd6a4700a7f52bb2ec59e80603b1 # 2.1.4
        with:
          allowlist: |
            actions/checkout
            actions/setup-go
            actions/upload-artifact
            slackapi/slack-github-action
